body{
    overflow-x: hidden;
}
#registerSection {
    height: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px
}
#registerSection img{
    position:absolute;
    z-index: -1;
    width: 100%;
}
#registerBlock div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#registerBlock label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.64);
    margin-right: 3vw;
    font-size: 30px;
    font-weight: 600;
    height: 50px;
    width: 150px;
}

#registerBlock input {
    height: 50px;
    width: 18vw;
    font-size: 20px;
    padding-left: 1vw;
}

#registerBlock button {
    background-color: rgba(0, 133, 255, 1);
    width: 110px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
   
    margin-top: 20px;
}
#btnGroup{
    display: flex;
    justify-content: space-around;
}