body{
    overflow-x: hidden;
    font-size: 24px;
}
a{
    text-decoration:none;
    color: black;
}
a:hover{
    text-decoration:none;
    color: black;
}

div#all{
    margin-top: 180px;
    margin-bottom: 240px;
    background-color: #7B7979;
    width: 100%;
}
div#all_content{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: flex;
}
/* 左側列表 */
ul#myTab{
    margin: auto;
    width: 150px;
    border: 0px;
    box-sizing: border-box;
}
li.nav-item{
    margin-bottom: 50px;
    width: 100%;
}
button[class$='active']{
    background-color: rgb(68, 152, 255) !important;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px black;
}
/* 右側內容 */
div[class ^= 'tab-content']{
    overflow-x: hidden;
    margin-left: 50px;
    width: 800px;
    height: 470px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(204, 135, 135);
}
/* 滾輪 */
div.tab-content::-webkit-scrollbar{
    width: 0px;
}
div.tab-content::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 5px;
    
}
div.tab-content::-webkit-scrollbar-thumb:hover{
    background: #555;
}
/* 內容 */
div[class ^= tab-pane]{
    width: 100%;
    height: 100%;
}
/* 長條白框 */
div[class ^= row]{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px 3px black;
    border-radius: 5px;
    width: 35%;
    height: 30px;
    position: relative;
    top: 18px;
    left: 10%;
}
p#name{
    padding: 0;
    font-size: 16px !important;
    background-color: rgb(255, 255, 255);
    width: auto;
    margin: 3px 0 10px 5px;
    
}
span#firstName,span#lastName,span#email,span#phone,span#password{
    margin-left: 50px;
    background-color: #7B7979;
}
span#firstName{
    margin-left: 25px;
    margin-right: 35px;
}
span#email{
    margin-left: 5px;
}
span#phone{
    margin-left: 5px;
}
span#password{
    margin-left: 5px;
}
a[class *= btn-primary]{
    position: relative;
    top: -17px;
    left: 47.5%;
}
/* 大頭照 */
div.text-center{
    position: relative;
    top: -250px;
    left: 70%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
img.rounded{
    transform: translate(-130px,-100px);
}
a[class ^= image]{
    top: -230px;
    left: 72.5%;
}
p#image_button{
    position: relative;
    top: -230px;
    left: 74.9%;
}
div[class ^= row][class $= check]{
    margin: 130px 0 0 120px;
}
/* 更改前確認密碼 */
input#password_check{
    width: 300px;
    margin-left: 24px;
}
button[class ^= next]{
    position: relative;
    top: 70px;
    left: 66%;
}
/* 更改姓名 */
form#change{
    display: flex;
    width: 440px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px black;
    background-color: white;
    margin: 170px 0 0 170px;
}
form#change > p {
    width: auto;
    margin-left: 20px;
    margin-right: 5px;
}
input#firstName_input,input#lastName_input,input#email_input,input#phone_input{
    margin-top: 7px;
    width: 150px;
    height: 30px;
}
form#change > input[class ^= btn]{
    position: absolute;
    top: 400px;
    left: 61.5%;
}
/* 更改信箱 */
input#email_input,input#phone_input{
    width: 300px;
}
/* 我的票夾 */
div#profile,div#messages,div#settings{
    padding: 10px;
    font-size: 16px;
}
div#sp{
    width: 100%;
    height: 5px;
}

div#ticket,div#record,div#consumption,div#credit_card{
    margin: 0 0 10px 0;
    color: white;
    background-color: #0d6efd;
}
div#record{
    margin-top: 30px;
}
a#ticket_content,a#record_content{
    cursor: pointer;
}
a#ticket_content,a#record_content,div#next_content,div#credit_card_content{
    color: black;
    background-color: white;
    border: 2px solid #0d6efd;
}
/* 點擊查看票夾 */
div#next_content{
    overflow: hidden;
    animation-name: next;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
@keyframes next{
    from{
        height: 100px;
    }
    to{
        height: 300px;
    }
}
p#ticket_name,p#record_name,p#credit_card_name{
    padding: 15px 0 0 30px;
}
p[class ^= list]{
    margin: 15px 0 15px 30px;
}
span#date,span#cinemas,span#categorys{
    margin-left: 100px;
}
p#click_check{
    margin: -50px 0 30px 650px;
}
a#download{
    margin: -160px 0 0 250px;
}
a#cancel{
    width: 106.3px;
    margin: -60px 0 0 -110px;
}
/* 出示票券qrcode */
div#down_image,div#down_qrcode{
    position: relative;
    top: 30px;
    left: 50px;
    width: 40%;
}
div#down_image{
    width: 310px;
}
div#down_content{
    background-color: #FFB800;
    width: 300px;
    height: 240px;
}
div#down_qrcode{
    top: -310px;
    left: 470px;
}
div#down_image > img{
    width: 300px;
    height: 100px;
}
div#down_qrcode > img{
    width: 200px;
    height: 200px;
}
div#down_image > div > div{
    float: left;
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.719);
}
div#down_image > div > div:nth-child(1){
    margin: 12px 0 2px 12px;
}
div#down_image > div > div:nth-child(2){
    margin: 12px 0 2px 2px;
}
div#down_image > div > div:nth-child(3){
    margin: 12px 0 2px 2px;
}
div#down_image > div > div:nth-child(4){
    width: 30%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0) !important;
    color: white;
    margin: 0 2px 2px 12px;
}
div#down_image > div > div:nth-child(5){
    width: 60.7%;
    height: 30px;
    margin: 0 0 2px 0;
}
div#down_image > div > div:nth-child(6){
    width: 91.35%;
    margin: 0 0 0 12px;
}
div#down_image > div > div > p{
    font-size: 30px;
    margin: 53px 0 0 53px;
}
div#down_image > div > div:nth-child(2) > p{
    margin: 53px 0 0 50px;
}
div#down_image > div > div:nth-child(3) > p{
    margin: 53px 0 0 30px;
}
div#down_image > div > div:nth-child(4) > p{
    margin: 0;
    font-size: 20px;
}
div#down_image > div > div:nth-child(5) > p{
    margin: 0;
    font-size: 20px;
    text-align: center;
}
div#down_image > div > div:nth-child(6) > p{
    margin: 30px 0 0 0;
    font-size: 24px;
    text-align: center;
}
div#down_image > div > div > p > span{
    font-size: 18px;
}
div#down_qrcode > p:nth-child(1){
    margin: 0 0 40px 58px;
}
div#down_qrcode > p:nth-child(3){
    background-color: #C1C1C1;
    text-align: center;
    width: 300px;
    padding: 15px 0 15px 0;
    margin: 25px 0 0 -48px;
}
form#cancel_form{
    position: absolute;
    top: 500px;
    left: 1000px;
}
/* 信用卡 */
div#card_content{
    margin: 10px 0 10px 70px;
    width: 80%;
    height: 50px;
    border: 1px solid black;
    box-shadow: 0px 2px 5px 0 black;
}
div#card_content > p:nth-child(1){
    margin: 15px 0 0 15px;
}
a#credit_card_list > div#card_content > p:nth-child(2){
    margin: -25px 0 0 540px;
}
a#credit_card_new > div > p:nth-child(1){
    width: 20px;
    height: 20px;
    padding: 0 0 20px 0;
    line-height: 17px;
    font-size: 25px;
    border: 1px dotted black;
}
a#credit_card_new > div > p:nth-child(2){
    margin: -23px 0 0 45px;
}
a#credit_card_list > div > div, a#credit_card_new > div > div{
    width: 10px;
    border: 10px solid;
    border-color: transparent transparent transparent #D9D9D9;
    margin: -20px 0 0 600px;
}
a#credit_card_new > div > div{
    margin: -22px 0 0 600px;
}


